.wrapper {
    width: 580px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    margin: 0 auto;

    h3 {
        font-weight: 500;
        padding: 20px;
        text-align: center;
        font-size: 40px;
    }
}

.smile {
    background: url(../../../assets/images/smile.png) no-repeat center / 50%;
}

.find {
    background: url(../../../assets/images/find.png) no-repeat center / 50%;
}