.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}

.checked {
    background: #9B51E0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notChecked {
    transition: .2s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.2);

    &:hover {
        border: 2px solid #7367F0;
    }
}